$font-size: 16px;

$background-color: #ffffff;
$sub-background-color: #f7f7f7;
$heading-text-color: #19283f;
$body-text-color: #000000;
$body-text-color-dark: #ffffff;
$sub-text-color: #6a7082;
$border-color: #e1e4e9;
$orange: #f97f29;
$safe-color: #2ecc71;
$moderate-color: #232420;
$danger-color: #e74c3c;

$border-radius: 15px;
$block-padding: 15px;
$flex-gap: 8px;
