#app {
  height: 100vh;
  display: flex;
  font-size: var(--font-size);
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  line-height: 1.5;
}
